#content-01, #content-02, #content-03, #content-04, #content-05, #content-06, #content-07, #content-08, #content-09, #content-10{
    width: 100%;
    margin-bottom: 6rem;
}

.c-2{
    width: 100%;
    min-width: 360px;
    max-width: 1440px;
    margin: 0 auto;
}

#content-11{
    width: 100%;
}

/* content-01 start */
.breakPoint3-m-b{
    display: none;
}

.main-banner{
    position: relative;
}

.m-b-img{
width: 100%;
height: 100vh;
}

.m-b-txt{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
}

.m-b-sub-title{
margin-top: 2rem;
color: var(--gray-line);
}
/* content-01 end */

/* content-02 start */
.c-2-slide-wrap{
height: 28rem;
display: flex;
gap: 1.2rem;
}

.c-2-title{
position: relative;
}

.c-2-slide{
position: relative;
height: 100%;
width: 11rem;
}

.c-2-on{
width: 100%;
}

.c-2-t-img{
position: absolute;
width: 200px;
top: -51px;
right: -48px;
}

.c-2-sub-title1{
margin-bottom: 2rem;
color: var(--gray-point);
}

.c-2-txt{
position: absolute;
bottom: 0;
left: 0;
padding: 32px;
width: 100%;
box-sizing: border-box;
color: white;
}

.c-2-sub-title2{
color: var(--gray-line);
}

.c-2-img{
height: 100%;
}

.c-2-img > img{
border-radius: 1.2rem;
}
/* content-02 end */

/* content-03 start */
/* content-03 end */

/* content-04 start */
/* content-04 end */

/* content-05 start */
/* content-05 end */

/* content-06 start */
/* content-06 end */

/* content-07 start */
/* content-07 end */

/* content-08 start */
/* content-08 end */

/* content-09 start */
/* content-09 end */

/* content-10 start */
/* content-10 end */

/* content-11 start */
/* content-11 end */




/* breakPoint 2 CSS START */
@media (max-width: 1440px) {

    /* content-01 start */
    .m-b-txt{
        padding: 0 2rem;
        box-sizing: border-box;
    }
    /* content-01 end */
    /* content-02 start */
    .m-b-sub-title{
        margin-top: .8rem;
    }
    /* content-02 end */
    
    /* content-03 start */
    /* content-03 end */
    
    /* content-04 start */
    /* content-04 end */
    
    /* content-05 start */
    /* content-05 end */
    
    /* content-06 start */
    /* content-06 end */
    
    /* content-07 start */
    /* content-07 end */
    
    /* content-08 start */
    /* content-08 end */
    
    /* content-09 start */
    /* content-09 end */
    
    /* content-10 start */
    /* content-10 end */
    
    /* content-11 start */
    /* content-11 end */
}
/* breakPoint 2 CSS END */








/* breakPoint 3 CSS START */
@media (max-width: 768px) {
    /* Default CSS START */
    .header-1{
        font-size: 1.2rem;
        line-height: 1.7rem;
    }
    .header-2{
        font-size: 1rem;
        line-height: 1.4rem;
    }
    .body-1{
        font-size: .9rem;
        line-height: 1.3rem;
    }
    .body-2{
        font-size: .8rem;
        line-height: 1.1rem;
    }
    .body-3{
        font-size: .7rem;
        line-height: 1rem;
    }
    .btn-large{
        font-size: 1rem;
        line-height: 1.4rem;
    }
    .btn-small{
        font-size: .8rem;
        line-height: 1.1rem;
    }
    .caption{
        font-size: .6rem;
        line-height: .9rem;
    }
    /* Default CSS END */

    /* header start */
    #header-wrap, .s-m-head > div, .site-map{
        padding: 0 1rem;
    }
    .s-m-head{
        padding: .6rem 0;
    }
    .s-m-head > div > span {
        font-size: 1.6rem;
        padding: 0rem;
    }
    .h-logo{
        width: 4rem;
        height: 1.6rem;
    }
    .h-logo > img{
        width: 100%;
    }
    .site-map{
        padding: 3.2rem 1rem 0 1rem;
    }
    .s-m-2depth-wrap{
        flex-direction: column;
        gap: .6rem;
    }
    .s-m-3depth{
        margin-bottom: .3rem;
    }
    .marin-b-2-d{
        margin-bottom: .6rem;
    }
    .header-right{
        width: 1.6rem;
        height: 1.6rem;
        padding: .35rem .2rem;
        gap: .3rem;
    }
    .header-right > div:nth-child(1), .header-right > div:nth-child(3){
        width: 1.2rem;
        height: .1rem;
    }
    .header-right > div:nth-child(2) {
        width: .8rem;
        height: .1rem;
    }
    .lang-logo{
        width: 1.2rem;
        height: .9rem;
    }
    .header-lang{
        gap: .2rem;
    }
    .header-lang > span {
        font-size: .8rem;
    }
    .lang-type{
        font-size: .8rem;
    }
    .header-right-menu{
        gap: 1.2rem;
    }
    /* header end */








    /* content-01 start */
    .breakPoint1-m-b{
        display: none;
    }
    .breakPoint3-m-b{
        display: block;
    }
    .m-b-txt{
        padding: 0 20px;
    }
    /* content-01 end */
    /* content-02 start */

    /* content-02 end */

    /* content-03 start */
    /* content-03 end */

    /* content-04 start */
    /* content-04 end */

    /* content-05 start */
    /* content-05 end */

    /* content-06 start */
    /* content-06 end */

    /* content-07 start */
    /* content-07 end */

    /* content-08 start */
    /* content-08 end */

    /* content-09 start */
    /* content-09 end */

    /* content-10 start */
    /* content-10 end */

    /* content-11 start */
    /* content-11 end */
}
/* breakPoint 3 CSS END */